@import "tailwindcss";
@theme {
       --color-lpurple: #9D04D3;   
       --color-mpurple: #5911AA;
        --color-dpurple: #3C096C;
        --color-myellow: #FEBB08; 
}

.test-bebas {
  font-family: "Bebas Neue", sans-serif;
}