@import "tailwindcss";
@theme {
       --color-lpurple: #9D04D3;   
       --color-mpurple: #5911AA;
        --color-dpurple: #3C096C;
        --color-myellow: #FEBB08; 
}

body{
    font-family: "Montserrat","Bebas Neue",Arial, Helvetica, sans-serif;
}
.font-bebas {
  font-family: "Bebas Neue";
}

.font-montserrat {
  font-family: "Montserrat";
}