/*don't touch BE CAREFUL LOL*/
.animeBars{
    width: 100vw;
    height: auto;
    margin: clamp(3em,10vw,15em) 0;
    position: relative;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
@keyframes slider {
    0% {
        transform: translateX(0)
    }
    100%{
        transform: translateX(calc(-100% / 2))
    }
}
.slogan{
    position: absolute;
    width: 100%;
    
    height: 5vh; /*not sure yet*/

    background-image: linear-gradient(to right,#4B0F6E,#9144EE);
    opacity: 60%;
    transform: skewY(3.5deg); /*skewY insteas of 'rotate' helps rotating without shrinking the actual width NO MATTER WHAT*/
    
}
.sloganScroller{
    position: relative;
    width: fit-content;
    display: flex;
    gap: 50px;
    height: 100%;
    align-items: center;
    will-change: transform;
    animation: 20s slider infinite linear;
     
}
.sloganScroller span{
    font-size: clamp(18px,2vw,40px);
    font-family: Bebas Neue;
    color: #FFFFFF;
    line-height: 100%;
    
    white-space: nowrap;
}

.conseiller{
    width: 100%;
    background-image: linear-gradient(178deg ,#9144EE,#4B0F6E); /*maybe to right check figma*/
    height: clamp(1.5em,4vw,4em); /*not sure yet*/
    transform: skewY(-3deg);
    
    opacity:90%;
}
.conseiller .conseillerScroller{
    width: fit-content;
    height: 100%;
    will-change: transform;
    animation: 50s slider infinite linear;
     will-change: transform; 
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5em; /*random value from me need to make sure*/
}
.conseillerScroller span{
    font-family: Bebas Neue;
    font-size: clamp(18px,3vw,30px); /*maybe need to look after the font sizes responsivity*/
    font-weight: 700;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}
@media (max-width : 500px){
    .slogan{
    transform: skewY(5deg);
    height: 3vh;
}
}
