.rectangle{
    width: 100%;
    height: 70px; /*88 on figma but seemes so big idk*/
    background-image: linear-gradient(to right,#351555,rgba(117, 47, 187, 1),#351555);
    display: flex;
    align-items: center;
     overflow: hidden;
     position:relative
}
.scroller{
    overflow: hidden;
    z-index: 100;
    mask: linear-gradient(90deg,transparent, white 20%,white 70%,transparent);
    -webkit-mask: linear-gradient(90deg,transparent, white 20%,white 70%,transparent);
    position: relative;
}
.imgContainer{
    width: 100vw;
    display: flex;
    gap:50px;
    align-items: center;
    justify-content: center;
    border: 1px greenyellow solid;
}
.imgContainer img{
    border: 1px red solid;
  opacity: 0.7;
}
