.box{
    width: 90%;
    margin: 5rem auto 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(227, 219, 216, 1);
    border-radius: 23.2px;
    position: relative;   
    overflow: visible;    
}
.title{
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: absolute;
    top: 0;
    transform: translateY(-54%); /*solved the resposive issue*/
    z-index: -1;

    background-image: linear-gradient(to bottom,#5A00C7, #AA74EB);
    color: transparent;
    background-clip: text;
}

.title p{
    font-size: clamp(2rem,8.5vw,10rem);
    font-family:"Bebas Neue" ;
    text-align: center;   
    white-space: nowrap;
}
.bigC{
    width: 4em;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 15%;
}
.content{
    padding: 2em 2.5em 0;
}

.myform{
    color: #310566;
    line-height: 2em;
    font-size: 15px; /*if you want it responsive (small for small screens and huge for huge screens change to 4 or 3vw*/
    
    font-weight: 500;
    padding-top: 2em;
}
.myform form input{
    outline: none;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-bottom: 1px solid #310566;
    background-color: transparent;
    color: #00000066;
    line-height: 42px;
    font-size: 15px;
    
    font-weight: 500;
    
}
.bouton{
    padding:  1.5em 0;
}

.myform form button{
    cursor: pointer;
    font-family: "Bebas Neue";
    font-weight: 500;
    font-size: 15px;
    font-size: clamp(15px, 2vw, 1.5rem) !important;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 0.5em;
    border: hidden;
    background-image: linear-gradient(to right,#9D04D2,#7E01AA);
}
.coordonnes{
    padding: 3.5em 0;
    width: 70%;
}
.coordonnes p{
    font-size: 15px;
    font-weight: 500;
    color: #310566;
    padding: 0.7em 0;
}
.coordonnes p img{
    padding: 0 5px;
    width: 1em;
    height: 1em;
    max-width: 24px;
    max-height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

 .coordonnes .contactItem{
  display: inline-block;
}
 .coordonnes .contactContainer p {
    white-space: nowrap;
}
.localItem{
    width: 100%;
    padding-left: 2rem !important;
    text-indent: -2rem; 
    display: block;
}



 .coordonnes P a{
    text-decoration: none;
    color: #310566;
    font-weight: 500;
}


@media(max-width: 510px) {
.myform,.myform form input,.coordonnes p{
    font-size: 12px;
}
  /* .coordonnes p{
    font-size: 16px;
  }
  .myform form input{
    font-size: 16px;
  } */
}


