.Card{
    width: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border: 1px solid #E3DBD8;
    border-radius: 23px;
    overflow: hidden;
    margin: 1em 0 0 5%; /*just to separate it 5% from left and 1em from 
                        the component above and down
                        if it ruins the page think of another solutions!!*/
}
.Card .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.Card .content .service{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.Card .content .emplois{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.Card .content h1{
    font-size: 25.52px;
    font-weight: 700;
    color: #5A00C7;
    padding-bottom:5px ;
}
.yellowDot{
    font-size: 40px;
    font-weight: 700;
    color: #FFC300;
}
.Card .content .job{
    font-size: 20px;
    font-weight: 600;
    color: #310566;
    text-transform: uppercase;
}
.Card .content p,.Card .content a{
    font-size: 18px;
    font-weight: 500;
    color: #310566;
    text-decoration: none;
    padding-bottom: 10px;
}
.vLine{
    height: 114px;
    width: 1px;
    background-color: #E3DBD8;
    margin: auto 1em;
    
}