.Gallery{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10em;
}
.headDescription p{
  font-size: clamp(12px,2vw,20px);
  text-align: justify;
  color: #310566;
  /* width: 60%; */
  padding: 0 0 2em 5%;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galleryContainer {
  display: flex;
  justify-content: center;
  height: clamp(500px,30vw,1600px);
  width: 100vw;
  gap: 16px;
  overflow: hidden;
  
}

.galleryItem {
  position: relative;
  
  flex: 0.1;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  overflow: hidden;
  border-radius: 26px;
}

.galleryItem.expanded {
  flex: 0.2;
}
.galleryItem.expanded::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none; /* So it doesn't block clicks */
  z-index: 0;
}

.galleryItem.collapsed {
  flex: 0.1;
  filter: brightness(0.9) blur(0.7px);
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
/*--------------------------------contenue dans les images-------------------------------*/
.galleryOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  padding: 24px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.galleryItem.expanded .galleryOverlay {
  opacity: 1;
  z-index: 1;
} 

.galleryContent {
  transform: translateY(20px);
  transition: transform 0.4s ease;
}

.galleryItem.expanded .galleryContent {
  transform: translateY(0);
}

.galleryTitle {
  color: #F5F8FF;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 8px 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /*with or without ?*/
}

.galleryDescription {
  color: #F5F8FF;
  font-size: 1.2rem;
  margin: 0;
  font-family: 'Inter';
  white-space: nowrap;
}
/*--------------------------------FIN contenue dans les images-------------------------------*/
/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;

  }

  .galleryContainer {
    height: 1400px;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }

  .galleryItem.expanded {
    flex: 5;
  }

  .galleryItem.collapsed {
    flex: 0.5;
  }

  .galleryOverlay {
    padding: 16px;
  }

  .galleryTitle {
    font-size: 1.2rem;
  }

  .galleryDescription {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .galleryContainer {
    height: 300px;
    gap: 4px;
  }

  .galleryOverlay {
    padding: 12px;
  }

  .galleryTitle {
    font-size: 1rem;
  }

  .galleryDescription {
    font-size: 0.7rem;
  }
}
@media (max-width:1800px){
  .galleryItem.collapsed {
  flex: 0.1;
  filter: brightness(0.9) blur(0.9px);
}
}