:root{
  --size: clamp(80px,15vw,200px)
}
.Box{
 display: flex;   
 flex-direction: column;
}
.btnNext, .btnPrev{
  font-size: clamp(20px,6vw,60px);
  font-family: sans-serif !important;
  color: #2F0052;
  cursor: pointer;
  margin: 0  30px;
}
.title p{
    font-size: clamp(14px,2vw,24px);
    text-align: center;
    color: #2f0052;
    width: 90%;
    margin: 0 auto clamp(0px,1vw,30px);
}

.B{
    display: block;
}
.sentence p.active {
  display: block;
}
/*----------------------year blocks--------------------------*/
.year{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 40px 0;
    gap: 2.5em;
}
.year > span {
  display: flex;
  gap: 60px;
}

.year span .prefix{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(60px,10vw,180px);
  font-weight: bold;
  width: var(--size);
  height:var(--size);
  color: #2F0052;
  /* padding-right: 40px ; */  
}
.scene {
  width: var(--size);
  height:var(--size);
  perspective: 400px;
  
}
.cube{
  width: var(--size);
  height:var(--size);
  position: relative;
  transform-style: preserve-3d; /*klchi 3la hadi*/
  transition: transform 1s;
}
.cube .cubeFace {
  position: absolute;
  width: var(--size);
  height:var(--size);
  line-height: var(--size); /*to center vertically*/
  font-size: calc( clamp(60px,10vw,180px) - clamp(15px,2.5vw,50px)); /*It works don't touch it*/
  font-weight: bold;
  color: white;
  text-align: center;
}
                                /*w hna lt7t dik display block*/

                                /*<div className={`${styles.cube} ${styles[`show${face}`]}`}> */

.scene .showFront  { transform: translateZ(calc(-1 * var(--size)/2)) rotateY(   0deg); }
.scene .showBack  { transform: translateZ( calc(-1 * var(--size)/2)) rotateY( -90deg); }
.scene .showRight  { transform: translateZ(calc(-1 * var(--size)/2)) rotateY(-180deg); }
.scene .showLeft   { transform: translateZ(calc(-1 * var(--size)/2)) rotateY(  90deg); }
.scene .showBottom   { transform: translateZ(calc(-1 * var(--size)/2)) rotateX( -90deg); }
.scene .showTop { transform: translateZ(calc(-1 * var(--size)/2)) rotateX(  90deg); }

.cubeFaceFront   { display: block; ;background:#FF00C4}
.cubeFaceBack   { background:#FF00C4}
.cubeFaceRight   { background:#FF00C4}
.cubeFaceLeft      { background:#FF00C4}
.cubeFaceTop         { background:#FF00C4}
.cubeFaceBottom { background:#FF00C4}

.cubeFaceFront      { transform: rotateY(  0deg) translateZ(calc(var(--size)/2)); }
.cubeFaceBack      { transform: rotateY( 90deg) translateZ(calc(var(--size)/2)); }
.cubeFaceRight       { transform: rotateY(180deg) translateZ(calc(var(--size)/2)); }
.cubeFaceLeft       { transform: rotateY(-90deg) translateZ(calc(var(--size)/2)); }
.cubeFaceBottom        { transform: rotateX( 90deg) translateZ(calc(var(--size)/2)); }
.cubeFaceTop { transform: rotateX(-90deg) translateZ(calc(var(--size)/2)); }
/*----------------------years at the bottom ------------------*/
.years ul{
  
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px 60px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 15px;
  font-size: clamp(14px,2vw,20px);
  color: #2F0052;
  }
  .years ul li{
    cursor: pointer;
  }
  .years ul li:hover{
    color: #5a00c7;
  }
  .years ul li.active{
    color: #7301ff;
  }
  /*----------------------DONE years at the bottom ------------------*/
@media (max-width:1500px) {

  .years ul{
  gap: 10px 60px;
  }
  
.year > span {
  gap: clamp(10px, 2.5vw, 50px);
  }

}
@media (min-width:850px) and (max-width : 1500px) {
    .year{
    gap: 1.5em;
  }}
  @media (max-width:810px){
    .years ul{
      gap: 5dpx 20px;
    }
    .year{
    padding: 20px 0;
  }
  
  }