.banner {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px saddlebrown solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.waves{
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-5%);
}
.waves img{
    width: 100%;
}


.cardsContainer {
  display: flex;
  gap: 40px;
  z-index: 2;
}

.cardsContainer img {
  width: 25vw;
  height: auto;
}

