.special {
 margin: 5em 0 1em 5%; 
}

.text {
    font-size: clamp(1.6rem, 4vw, 2.5rem);
  font-weight: 800;
  text-transform: uppercase;
  color: #310566;
}

.dot {
  color: #FFC300;
}

.underline {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
}

.cercle {
  width: 6px;
  height: 6px;
  background-color: #fcbf49;
  border-radius: 50%;
}

.bar {
  width: 5%;
  height: 0.4em;
  background-color: #fcbf49;
  border-radius: 2px;
}
